* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  color: $fg;
}

@import "./windows/bar/style.scss";
@import "./windows/notifications/style.scss";
@import "./windows/pomodoro/style.scss";
