window#modal {
    .modal-title {
        font-size: 24px;
        font-weight: 700;
        color: $accent;
        margin-bottom: 1rem;
    }

    .modal-message {
        font-size: 16px;
        color: $fg2;
    }

    .modal-spinner-container {
        margin-top: 1rem;

        .modal-spinner {
            min-width: 24px;
            min-height: 24px;
            color: $fg;
        }
    }
}
